.link-route {
    text-decoration: none;
}

nav {
    transition: 0.3s;
    background: #1f2937;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-right: 1px solid #2d3847;
}

.logo-section {
    display: flex;
    place-items: center;
    padding: 1rem;
    box-sizing: border-box;
    border-bottom: 1px solid #2d3847;
}

.logo-icon {
    width: 4rem;
}

.logo-text {
    display: flex;
    flex-direction: column;
}

.logo-text>h1 {
    font-size: 1.4rem;
}

.logo-text>p {
    font-size: 0.8rem;
    color: #ffffff88;
    margin: 0;
}

.logo-text>h1 {
    margin-block: 0.1rem;
}

.folders-list {
    display: flex;
    flex-direction: column;
}

.folders-list>div {
    display: flex;
    flex-direction: column;
}

.folders-name {
    color: #ffffff88;
    font-size: 0.9rem;
    margin: 1rem 1rem;
    font-weight: 100;
}

.folders-item {
    color: #ffffff;
    display: flex;
    align-self: center;
    place-self: center;
    gap: 7%;
    cursor: pointer;
    box-sizing: border-box;
    width: 90%;
    border-radius: 0.5rem;
    padding: 0.7rem 1rem;
    align-items: center;
    margin-block: 0.2rem;
    transition: 0.3s;
}

.folders-item.project-name {
    display: grid;
    grid-template-columns: 1rem calc(100% - 1rem);
}

.folders-item:hover {
    background: #6b7280;
    color: #111827;
}

.folders-item-img {
    width: 1.2rem;
    aspect-ratio: 1/1;
}

.folders-item>h3 {
    margin: 0;
    font-weight: 100;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.folders-item>p {
    box-sizing: border-box;
    background: transparent;
    color: #6b7280;
    border-radius: 30px;
    width: 2.5rem;
    padding: 0.3rem;
    text-align: center;
    margin: 0;
    transition: 0.3s;
}

.folders-item:hover>p {
    background-color: #111827;
}
.color-dot {
    width: 1rem;
    border-radius: 50%;
    height: 1rem;
}

.new-projects {
    max-height: 20rem; 
    overflow-y: scroll;
}

@media (max-width: 1200px) {
    nav {
        width: 17rem;
        height: 100%;
        z-index: 1;
        position: fixed;
    }
    nav.hide {
        transform: translateX(-17rem);
    }
    nav.show {
        transform: translate(0rem);
    }
}